---
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
const data = await fetch("https://ogaxuggyhpkmcikcmeli.supabase.co/rest/v1/clf", 
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nYXh1Z2d5aHBrbWNpa2NtZWxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYyMjk5MTAsImV4cCI6MjAxMTgwNTkxMH0.sNxRHYiLpJz47USf7p1J_3MlM3lf10QkoUyIV8D0kyI",
    },
}
).then(response => response.json());

return data.map((artist) => {
    return {
        params: { slug: artist.slug},
        props: { theArtist:artist },
    };
});
}
const {theArtist} = Astro.props;
const cImg = `../${theArtist.cImg}`
---

<MainLayout title={theArtist.aName}>
    <div class="single-card">
      <div class="container">
        <div class="artist-box">
          <div class="a-name"><h3>{theArtist.aName}</h3></div>
          <p class="div">
            <span class="text-wrapper">By: </span> <span class="span">{theArtist.cName}</span>
          </p>
          <p class="div">
            <span class="text-wrapper">Location: </span>
            <span class="span">{theArtist.aLoc}</span>
          </p>
        </div>
        <div class="image-box">
          <img class="a-img" src=`../${theArtist.aImg}` />
          <p class="a-desc">{theArtist.aDesc}</p>
        </div>
        <div class="creator-box">
          <img class="frame" src="../media/svg/SingleDesktopOutline.svg" />
          <div class="creator">
            <div class="frame-2">
                <div class="c-name">
                    {theArtist.cName}
                </div>
              <p class="c-desc">{theArtist.cDesc}</p>
              <section id="">
                <ul>
                    {theArtist.links && <li>Links: <a href={theArtist.links}>{theArtist.links}</a></li>}
                    {theArtist.some && <li>Social media: <a href={theArtist.some}>{theArtist.some}</a></li>}
                    {theArtist.thanksTo && <li>Thanks to: {theArtist.thanksTo}</li>}
                </ul>
            </section>
            <section>
                {theArtist.aHours || theArtist.aDate ? <h4>Important dates!</h4>: null}
                <ul>
                    {theArtist.aHours && <li>Can be viewed at: {theArtist.aHours}</li>}
                    {theArtist.aDate && <li>{theArtist.aDate}</li>}
                </ul>
             </section>
            </div>
            {theArtist.cImg && <img class="c-img" src={cImg} alt={theArtist.cDesc} />}
          </div>
        </div>
      </div>
    </div>
</MainLayout>

<style>
.single-card {
    margin-top: 15vh;
    display: grid;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    place-content: center;
    grid-template-rows: auto 1fr 1fr;
}

.single-card .container {
display: grid;
gap: 1rem;
grid-template-rows: repeat(3, auto);
}

.single-card .artist-box {
  display: grid;
  justify-content: left;
  position: relative;
  width: 100%;
  height: fit-content;
}

.single-card .div {
  position: relative;
  align-self: stretch;
}

.single-card .image-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 1 400px;
  gap: 40px;
  position: relative;
  align-self: stretch;
}

.single-card .a-img {
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
  position: relative;
  align-self: stretch;
}

.single-card .a-desc {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.single-card .creator-box {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  position: relative;
}

.single-card .frame {
  position: relative;
  width: 90%;
  min-width:850px;
  max-width: 1100px;
}

.single-card .creator {
  display: inline-flex;
  align-items: flex-start;
  gap: 1.2rem;
  position: absolute;
  left: 32%;
}

.single-card .frame-2 {
  display: flex;
  flex-direction: column;
  width: 345.5px;
  align-items: flex-start;
  gap: 14px;
  position: relative;
  align-self: stretch;
}

.single-card .c-name {
  position: relative;
  align-self: stretch;
}

.single-card .c-desc {
  position: relative;
}

.single-card .c-img {
  position: relative;
  align-self: stretch;
  width: 300px;
  object-fit: cover;
}
@mediaquery (max-width: 1000px) {
    /* div.image-box {
        flex-direction: columns;
    } */
}
</style>