---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../css/global.css";
export async function getStaticPaths() {
const data = await fetch("https://ogaxuggyhpkmcikcmeli.supabase.co/rest/v1/clf", 
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nYXh1Z2d5aHBrbWNpa2NtZWxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYyMjk5MTAsImV4cCI6MjAxMTgwNTkxMH0.sNxRHYiLpJz47USf7p1J_3MlM3lf10QkoUyIV8D0kyI",
    },
}
).then(response => response.json());

return data.map((artist) => {
    return {
        params: { slug: artist.slug},
        props: { theArtist:artist },
    };
});
}
const {theArtist} = Astro.props;
---

<MainLayout title={theArtist.aName}>
<article class="artistBox">
    <section class="topBox">
        <h2>{theArtist.aName}</h2>
        <p>By: <span>{theArtist.aName}</span></p>
        <p>Location: <span>{theArtist.aLoc}</span></p>
    </section>
    <section class="imageBox">
        <img src=`../${theArtist.aImg}`/>
        <p>{theArtist.aDesc}</p>
    </section>
<section class="creatorBox">
<div>Fyld herinde
</div>
<div>
    <h3>{theArtist.cName}</h3>
    <p>{theArtist.cDesc}</p>
    <p><a href={theArtist.some}>{theArtist.some}</a></p>
</div>
<img src=`../${theArtist.aImg}` alt={theArtist.cName}/>
</section>
</article>
</MainLayout>

<style>
    h2 {
        margin: 0;
    }
.artistBox {
    display: grid;
    color: white;
    margin: 15vh 25vh;
    justify-content:center;
    align-content:center;
    gap: 1rem;
    grid-template-rows: repeat(3, fit-content);
}
.topBox {
    display: grid;
}
.imageBox {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
}
.creatorBox {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}
.creatorBox img {
    margin: 1rem;
    width: fit-content;
    height: fit-content;
}
</style>