---
const {data} = Astro.props;
import "../css/global.css";
---
<div class="list-card">
  <div class="group">
    <div class="overlap-group">
      <div class="text-box">
        <div class="header-text">
          <div class="text-link"><div class="a-name"><a href=`artists/${data.slug}`>{data.aName}</a></div></div>
        </div>
        <div class="creator">
          <p class="c-name">
            <span class="text-wrapper">By:</span> <span class="span">{data.cName}</span>
          </p>
        </div>
        <div class="location">
          <p class="a-loc">
            <span class="text-wrapper">Location:</span>
            <span class="span">{data.aLoc}</span>
          </p>
        </div>
      </div>
      <div class="img-frame"><img class="a-img" src={data.aImg} /></div>
      <img class="outline" src="media/svg/ListCardDesktopOutline.svg" />
    </div>
  </div>
</div>

<style>
p {
  margin-bottom: 0;
}
.list-card {
  display: grid;
  place-content: center;
}
.list-card .group {   
  position: relative;
  width: 576px;
  height: 449px;
}
.list-card .overlap-group {
  position: relative;
  width: 577px;
  height: 450px;
  left: -1px;
}
.list-card .text-box {
  display: flex;
  flex-direction: column;
  width: 374px;
  height: 102px;
  max-width: 35ch;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  position: absolute;
  top: 339px;
  left: 203px;
}
.list-card .header-text {
  display: flex;
  flex-wrap: wrap;
  height: 64px;
  align-items: flex-start;
  gap: 0px 0px;
  padding: 0px 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
}
.list-card .text-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}
.list-card .a-name {
  position: relative;
  flex: 1;
  z-index: 100;
}
.list-card .creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 0px 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.list-card .c-name {
  position: relative;
  width: fit-content;
  font-family: "Karla-Bold", Helvetica;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
}
.list-card .text-wrapper {
  font-weight: 700;
}
.list-card .span {
  font-family: "Karla-Regular", Helvetica;
  max-width: 20ch;
}
.list-card .location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 0px 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -9.01px;
}
.list-card .a-loc {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Karla-Bold", Helvetica;
  font-weight: 400;
  color: var(--text-color);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 23px;
}
.list-card .img-frame {
  display: flex;
  flex-direction: column;
  width: 551px;
  height: 338px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 26px;
}
.list-card .a-img {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 90%;
  flex-grow: 1;
  object-fit: cover;
}
.list-card .outline {
  position: absolute;
  width: 517px;
  height: 450px;
  top: 0;
  left: 0;
}
</style>